/* digital clock font */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
/* Jost */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
/* Quicksand */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* Assistant */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

:root {
  --color-1: #FFFEFC;
  --color-2: #B2E4EC;
  --color-3: #FCDDDF;
  --color-4: #FEF3D6;
  --color-5: #00A5BF;
  --color-6: #F69096;
  --color-7: #FDD876;
  --color-8: #324356;
  --color-9: #aaaaaa;
  --color-10: #EDEDED;
  --color-11: black;

  --space-0: 0px;
  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-48: 48px;
  --space-72: 72px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-11);
  text-decoration: none;
  font-family: Jost;
}

html { 
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.scroll-a::-webkit-scrollbar {
  width: 20px; /* 横幅 */
}
.scroll-a::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* ハンドルの色 */
}
.scroll-a::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, var(--color-6), var(--color-7), var(--color-5)); /* 背景色 */
}

.displayNone {
  display: none !important;
}

.fade {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1.5s, transform 1s;
}.fade.active {
	opacity: 1;
	transform: translateY(0px);
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

header{
  #navbar{
  width: 100vw;
  display: flex;
  flex: row;
  justify-content: space-between;
  padding: var(--space-24);
  font-size: 16px;
  h1{
    width: 90%;
  }
  #hamburger{
    margin-top: var(--space-8);
    font-size: 32px;
    z-index: 100;
  }
  }
  #navbar-links {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-5);
    position: absolute;
    top: 0px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    a:hover {
      text-decoration: underline;
    }
  }
}

#contents {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-48);
  margin: var(--space-48);
}

.contentName {
  font-size: 36px;
  margin: var(--space-24);
  text-align: center;
}

#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-16);

  #portrait {
    width: 40vw;
    max-width: 250px;
    border-radius: 50%;
  }

  .text {
    p {
      margin: var(--space-16);
    }
    h2, h3{
      text-align: center;
    }
  }
}

#skills {
  width: 100%;
  text-align: center;

  .allChats{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .charts {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .chart {
        width: 100px;
        margin: var(--space-8);
      }
    } 
  }
}

#history {
  display: flex;
  flex-direction: column;
  align-items: center;

  .timeline {
    max-width: 940px;
    margin: auto;
    position: relative;

    .timeline-list li.is-hidden {
      visibility: hidden;
      opacity: 0;
      height: 0;
      margin: 0 10px;
      padding: 0;
    }

    .more {
      height: 30vh;
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(transparent, white);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      button {
        width: 120px;
        background-color: var(--color-10);
        padding: var(--space-8);
        border: none;
        font-size: 16px;
        border-radius: var(--space-24);
      }
    }

    &-list {
      padding: 40px 0;

      &-item {
        display: flex;
        line-height: 1.5;

        .date {
          width: 20%;
          padding: 0 0 0 20px;
        }

        .content {
          position: relative;
          width: 80%;
          padding: 0 20px 30px 30px;
          border-left: 1px solid var(--color-9);

          .title {
            font-weight: bold;
            font-size: 16px;
          }

          .company {}

          .location {
            color: var(--color-8);
            font-size: 14px;
          }

          .jobDescription {
            margin-top: 12px;
          }

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -5px; //widthの半分の値を指定
            width: 10px;
            height: 10px;
            background-color: var(--color-6);
            border-radius: 10px;
          }
        }

        .contentStudent {
          position: relative;
          width: 80%;
          padding: 0 20px 30px 30px;
          border-left: 1px solid var(--color-9);

          .title {
            font-weight: bold;
            font-size: 16px;
          }

          .company {}

          .location {
            color: var(--color-8);
            font-size: 14px;
          }

          .jobDescription {
            margin-top: 12px;
          }

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -5px; //widthの半分の値を指定
            width: 10px;
            height: 10px;
            background-color: var(--color-5);
            border-radius: 10px;
          }
        }

        .lifeEvent {
          position: relative;
          width: 80%;
          padding: 0 20px 30px 30px;
          border-left: 1px solid var(--color-9);

          .title {
            font-weight: bold;
            font-size: 16px;
          }

          .location {
            color: var(--color-8);
            font-size: 14px;
          }

          .jobDescription {
            margin-top: 12px;
          }

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -5px; //widthの半分の値を指定
            width: 10px;
            height: 10px;
            background-color: var(--color-7);
            border-radius: 10px;
          }
        }
      }
    }
  }
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-48);

  .project {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);

    .projectType{
      p{
        text-decoration: none;
        color: black;
        font-style: italic;
        font-size: 14px;
      }
    }

    .projectDetail {
      display: flex;
      flex-direction: column;
      gap: var(--space-24);
      padding: var(--space-16);

      .projectTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: var(--space-16);

        p {
          width: 70%;
          font-size: 24px;
          font-weight: bold;
        }
        .icons {
          font-size: 24px;
        }
      }
    }

    video {
      width: 100%;
      border-radius: var(--space-24);
    }

    img {
      width: 100%;
      border-radius: var(--space-24);
    }

    .slide {
      width: 100%;
      border-radius: var(--space-24);
      display: flex;
      flex-direction: row;
      align-items: center;
    
      button {
        padding: var(--space-8);
        font-size: 24px;
        border: none;
        border-radius: var(--space-16);
        background-color: var(--color-1);
        color: var(--color-9);
      }
    }
  }

  #Yukainsweden{
    img{
      aspect-ratio: 1000 / 760;
    }
  }

  #yasuragiImages {
    display: flex;
    width: 80%;
    margin: 0 auto;
    /* １つ目の要素以外は非表示にする */
    overflow: hidden;
  
    img {
      width: 100%;
      border-radius: var(--space-16)
    }
  }
}

footer{
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-24);

  i{
    font-size: 36px;
    margin: var(--space-16);
    color: var(--color-8);
  }
  p{
    font-size: 14px;
  }
}



/*　Tablet　*/
@media screen and (min-width:768px){

  header{
    h1{
      font-size: 36px;
    }
  }

  #introduction{
    flex-direction: row-reverse;
  }

  #projects {
  
    .project {
      flex-direction: row;
  
      .projectDetail {
        width: 50%;
        justify-content: center;
  
        .projectTitle {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          p {
            width: 70%;
          }
        }
      }
  
      video, img {
        width: 50%;
      }
  
      .slide{
        width: 50%;
      }
    }

    #TaskOptima{
      flex-direction: row-reverse;
    }

    #YasuragiKids{
      flex-direction: row-reverse;
    }
  }

}
// /*　Desktop　*/
// @media screen and (min-width:1024px) {
// }